<h2 class="titulo-subtopico">Assistência técnica administrativa, judicial e arbitral</h2>
<p class="texto-subtopico">Trabalhamos na instrução de demandas administrativas perante diferentes instituições, como Agências Reguladoras (ANEEL, ANAC, ANS, ANP), Comissão de Valores Mobiliários (CVM), Banco Central (BC) e Conselho Administrativo de Defesa Econômica (CADE). </p>
<p class="texto-subtopico">Também prestamos auxílio aos nossos clientes na conversão de seus direitos reconhecidos em juízo em quantia líquida e confiavelmente calculada, a partir da utilização de parâmetros claros e transparentes. Este serviço de quantificação de direitos exige um conhecimento interdisciplinar, além de bastante familiaridade com técnicas de programação e estatística.</p>
