<h1>Áreas de Atuação</h1> <div class="class">titulo-principal</div>

    <h2>Elaboração de Projetos de viabilidade econômico-financeira</h2> <div class="class">titulo-subtopicos</div>
      <p>Realizamos estudos de viabilidade econômico-financeira relacionados a projetos de financiamento junto ao BNDES, FCO, FNO, FNE, com o objetivo de auxiliar nossos clientes na captação de recursos de bancos de fomento e fundos constitucionais. 
      Também auxiliamos na estruturação de operações financeiras voltadas à captação de recursos privados, acompanhando nossos clientes em todo o processo de auditoria e gerindo sua comunicação com investidores e instituições financeiras. 
      Possuímos expertise na área do agronegócio, havendo auxiliado produtores e fornecedores de produtos agrícolas não apenas na captação, mas na estruturação de operações de crédito, como Certificados de Recebíveis do Agronegócio (CRA) e Cédulas de Crédito Rural (CPRs). </p> <div class="class">texto-subtopico</div>
   
    <h2>Assistência técnica administrativa, judicial e arbitral</h2> <div class="class">titulo-subtopicos</div>
      <p>Trabalhamos na instrução de demandas administrativas perante diferentes instituições, como Agências Reguladoras (ANEEL, ANAC, ANS, ANP), Comissão de Valores Mobiliários (CVM), Banco Central (BC) e Conselho Administrativo de Defesa Econômica (CADE). 
      Também prestamos auxílio aos nossos clientes na conversão de seus direitos reconhecidos em juízo em quantia líquida e confiavelmente calculada, a partir da utilização de parâmetros claros e transparentes. Este serviço de quantificação de direitos exige um conhecimento interdisciplinar, além de bastante familiaridade com técnicas de programação e estatística.</p>
      <div class="class">texto-subtopico</div>

    <h2>Consultoria em Finanças</h2> <div class="class">titulo-subtopicos</div>
      <p>Elaboração de estudos para a avaliação de ativos e passivos, empresas e projetos, inclusive para fins regulatórios, como teste de impairment, mensuração a valor justo e Purchase Price Allocation (PPA). 
      Também oferecemos serviços de avaliação de créditos não-performados (incluindo créditos judiciais), elaboração de planejamentos tributários e desenvolvimento de soluções customizadas que requeiram conhecimentos avançados em finanças.</p> <div class="class">texto-subtopico</div>

    <h2>Consultoria Concorrencial</h2> <div class="class">titulo-subtopicos</div>
      <p>Atendendo diferentes setores econômicos, especialmente aqueles submetidos à regulação setorial, oferecemos uma gama de análises econômicas teóricas e empíricas utilizando técnicas avançadas de programação. 
      No contexto das fusões e aquisições, analisamos riscos concorrenciais e de desinvestimento, realizamos a definição e dimensionamento de mercado relevante e cálculos de eficiência econômica. 
      Em processos administrativos, auxiliamos nas estratégias de ataque e defesa, no contexto de condutas excludentes, restrições verticais, abuso de posição dominante e diferentes modalidades de conluio. Realizamos, ainda, a estimação de danos para demandas reparatórias, utilizando técnicas avançadas de econometria.</p> <div class="class">texto-subtopico</div>

    <h2>Consultoria Regulatória e em Infraestrutura</h2> <div class="class">titulo-subtopicos</div>
      <p>No contexto da regulação setorial, elaboramos estudos e projetos com o objetivo de subsidiar soluções para questões econômicas, financeiras e regulatórias, relacionadas à infraestrutura, como transportes, telecomunicações e energia. 
      Ao lidar com setores regulados, entendemos ser imprescindível possuir um amplo conhecimento não apenas sobre a dinâmica competitiva de sua cadeia produtiva, como também no que se refere à estrutura e ao funcionamento dos órgãos responsáveis.</p> <div class="class">texto-subtopico</div>