.nav-link {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
}

.leme-navbar {
  background-color: #0D0043;
  color: white;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.footer-link:hover {
  color: #3100f5;
}
