@import "navbar";
@import "footer";
@import "banner";
@import "card";
@import "grid";
@import "text";

.carousel-item {
    font-family: 'Roboto', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    font-size: 18pt;
    color: rgba($color: #646464, $alpha: 1.0);
    font-weight: 300;
}

.container-button {
    text-decoration: none;
  }

.titulo-principal {
    display: flex;
    font-family: 'Roboto', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
    color: rgba($color: #646464, $alpha: 1.0);
    font-weight: 800;
    padding: 24px;
    height: 9em;
    display: flex;
    align-items: center;
    justify-content: center }



.titulo-subtopico {
    font-family: 'Roboto', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    color: rgba($color: #646464, $alpha: 1.0);
    font-weight: 500;
}

.texto-subtopico {
    font-family: 'Roboto', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    color: rgba($color: #646464, $alpha: 1.0);
    font-size: 18pt;
    font-weight: 300;
    text-overflow: clip;

}



.quem-somos {
    font-family: 'Roboto', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    color: rgba($color: #646464, $alpha: 1.0);
    font-size: 18pt;
    font-weight: 300;
    text-overflow: clip;

    a {
      text-decoration: none;
    }
}



.equipe {
    font-family: 'Roboto', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    color: rgba($color: #646464, $alpha: 1.0);
    font-weight: 600;
    padding-top: 48px;
    text-overflow: clip;
}

.email-socios {

    font-family: 'Roboto', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    color: rgba($color: #646464, $alpha: 1.0);
    font-weight: 300;
    padding-top: 0%;
    text-overflow: clip;
}

.cargo-socios
{
    font-family: 'Roboto', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    color: rgba($color: #646464, $alpha: 1.0);
    font-weight: 600;
    padding-top: 0%;
    text-overflow: clip;
}

.curriculo-socios
{
    font-family: 'Roboto', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    color: rgba($color: #646464, $alpha: 1.0);
    font-weight: 300;
    padding-top: 0%;
    text-overflow: clip;

}

.botao-cv {
    font-family: 'Roboto', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    color: rgba($color: #646464, $alpha: 1.0);
    font-weight: 600;
    padding-top:0%;
    text-overflow: clip;
}

.jujubinhas {
  background-color: #0e799d !important;
  border-color: #0e799d !important;
  font-family: 'Roboto', sans-serif;
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
}

.text-center {
    font-family: 'Roboto', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    color: rgba($color: #646464, $alpha: 1.0);
    font-size: 36pt;
    font-weight: 500;
    text-overflow: clip;
}
